# top-most EditorConfig file
root = true

# Baseline
[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
guidelines = 120

[*.{bat,cmd}]
end_of_line = crlf

[*.{sln,vcxproj,csproj,props,props}]
end_of_line = crlf
indent_style = space
indent_size = 2

[*.{py,sh,yaml,yml,xml}]
indent_style = space
indent_size = 2
