*.ipch
*.lnk
*.exe
*.opensdf
*.cache
*.sdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcworkspace
*xcuserdata*
*.xcschememanagement.plist
build-*
/IPlugExamples/*/*.vcxproj.user

PCH/*
VST3_SDK/*
VST_SDK/*
PT9_SDK/*
AAX_SDK/*
ASIO_SDK/*
CA_SDK/*
Projects/*
*/*/gui/*

Icon?
.DS_Stor*

/WDL/IPlug/IPlug.vcxproj.user
/WDL/lice/lice.vcxproj.user
/WDL/IPlug/doc/
/WorkProjects/
IPlugExamples/build_errors.log

/IPlugExamples/IPlugEEL/libEEL/build/

/Ports/

/ReaperExtensions/

/IPlugExamples/duplicate.pyc
