*.o
*.ipch
*.lnk
*.exe
*.opensdf
*.cache
*.sdf
*.zip
*.ncb
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcschememanagement.plist
*.db-shm
*.db-wal
*.opendb
*.pyc
*.aps
*.RPP-bak
Icon?
.DS_Stor*
doxygen_warnings.txt
Pods
PodFile.lock

# local user-specific files & folders
xcuserdata/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
CMakeSettings.json

Dependencies/IPlug/VST3_SDK/*
Dependencies/IPlug/VST2_SDK/*
Dependencies/IPlug/AAX_SDK/*
Dependencies/IPlug/WAM_AWP/*
Dependencies/IPlug/WAM_SDK/*
Dependencies/IGraphics/imgui/*
Documentation/html/

.vs/
ipch/
.idea/
[Oo]ut/
[Bb]uild*/
[Ii]nstall/

!README*
!AUTHORS
!LICENSE
!FAQ
!VERSION
![Cc]hange[Ll]og

