*.vs
*.o
*.ipch
*.lnk
*.exe
*.opensdf
*.cache
*.sdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.vcxproj.user
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*xcuserdata*
*.xcschememanagement.plist
_*
*.db-shm
*.db-wal
*.opendb
*.pyc
*.aps
*.RPP-bak
Icon?
.DS_Stor*
build-*
Dependencies/IPlug/VST3_SDK/*
Dependencies/IPlug/VST2_SDK/*
Dependencies/IPlug/AAX_SDK/*
Dependencies/IPlug/WAM_AWP/*
Dependencies/IPlug/WAM_SDK/*
!Dependencies/IGraphics/imgui/README.txt
Dependencies/IGraphics/imgui/*
Dependencies/Build/*
Documentation/html
Documentation/doxygen_warnings.txt
Examples/build_errors.log
*Projects/*
Examples/IPlugSwift/Pods
PodFile.lock