// common.xcconfig
// this file sets the compiler and base SDK for the IPlug projects and the lice library xcode project
// along with some other global build variables

// this is used for Developer ID / Appstore code-signing and is used in the makedist-mac shell script
CERTIFICATE_ID = Oliver Larkin

// Which compiler to use
//COMPILER = com.intel.compilers.icc.12_1_0
COMPILER = com.apple.compilers.llvm.clang.1_0

// which osx sdk to compile against - BASE_SDK rather than SDKROOT so we can override other xcconfigs (avid's)
BASE_SDK = macosx10.13

CLANG_CXX_LANGUAGE_STANDARD = c++11
CLANG_CXX_LIBRARY = libc++

// the minimum OS to support
DEPLOYMENT_TARGET = 10.7

// preprocessor macros for all debug/release/tracer builds
DEBUG_DEFS = DEVELOPMENT=1 DEBUG=1 _DEBUG
RELEASE_DEFS = RELEASE=1 NDEBUG=1
TRACER_DEFS = $RELEASE_DEFS TRACER_BUILD

// preprocessor macros for all VST2 builds etc
ALL_DEFS = NOMINMAX
VST2_DEFS = VST_API SWELL_JUST_FOR_THREADING SWELL_CLEANUP_ON_UNLOAD $ALL_DEFS
VST3_DEFS = VST3_API SWELL_JUST_FOR_THREADING SWELL_CLEANUP_ON_UNLOAD $ALL_DEFS
AU_DEFS = AU_API SWELL_JUST_FOR_THREADING SWELL_CLEANUP_ON_UNLOAD $ALL_DEFS
AAX_DEFS = AAX_API SWELL_JUST_FOR_THREADING SWELL_CLEANUP_ON_UNLOAD $ALL_DEFS
APP_DEFS = SA_API __MACOSX_CORE__ $ALL_DEFS

// Where the SDKs etc. are located in relation to the plug-in Xcode project
WDL_PATH = $(SRCROOT)/../../WDL
IPLUG_PATH = $(SRCROOT)/../../IPlug
IGRAPHICS_PATH = $(IPLUG_PATH)/IGraphics
NANOSVG_PATH = $(IGRAPHICS_PATH)/NanoSVG
SWELL_PATH = $(WDL_PATH)/swell
LICE_PATH = $(WDL_PATH)/lice

VST3_SDK = $(SRCROOT)/../../VST3_SDK
AAX_SDK = $(SRCROOT)/../../AAX_SDK
CA_SDK = $(SRCROOT)/../../CA_SDK

SHARED_PRECOMPS_DIR = $(SRCROOT)/../../PCH
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO
CLANG_LINK_OBJC_RUNTIME = NO

// Where to build the plug-ins / app bundles ...

// build to system plug-in folder
// you need to explicitly add write permissions to put stuff here
// you can also build to the user plug-in folder, but the installer scripts assume that the binarys are in the system folder
// AAX folder should be the location of the PT Dev build plug-ins folder

VST_FOLDER = /Library/Audio/Plug-Ins/VST
VST3_FOLDER = /Library/Audio/Plug-Ins/VST3
AU_FOLDER = /Library/Audio/Plug-Ins/Components
AAX_FOLDER = /Applications/Avid/ProTools_3PDev/Plug-Ins
APP_FOLDER = /Applications
