#include "../../common.xcconfig"

//------------------------------
// Global settings

// the basename of the vst, vst3, app, component, aaxplugin
BINARY_NAME = IPlugEffect

ADDITIONAL_INCLUDES = $(IGRAPHICS_PATH) $(LICE_PATH)
//ADDITIONAL_LIBRARY_PATHS = //

// for jack headers
//ADDITIONAL_APP_INCLUDES = /usr/local/include

// Flags to pass to compiler for all builds
GCC_CFLAGS = -Wno-write-strings -mfpmath=sse -msse -msse2 -msse3 -mavx

//------------------------------
// Preprocessor definitions

//EXTRA_DEBUG_DEFS =
//EXTRA_RELEASE_DEFS =
//EXTRA_TRACER_DEFS =

EXTRA_ALL_DEFS = COCOA_PREFIX=vIPlugEffect SWELL_APP_PREFIX=Swell_vIPlugEffect GRAPHICS_SCALING

//------------------------------
// Release build options

//Enable/Disable Profiling code
PROFILE = NO //NO, YES - enable this if you want to use instruments to profile a plugin

// GCC optimization level -
// None: [-O0] Fast: [-O, -O1] Faster:[-O2] Fastest: [-O3] Fastest, smallest: Optimize for size. [-Os]
RELEASE_OPTIMIZE = 3 //0,1,2,3,s

//------------------------------
// Debug build options
DEBUG_OPTIMIZE = 0 //0,1,2,3,s

