<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>IPlugWAM WAM</title>
    <style>
      body {
        font-family: arial;
        margin: 0;
        padding: none;
        background: white;
        background-size: cover;
      }

      .control { margin:0 10px; }
      label  { color:#bbb; font-size:12px; }
      select { background:#222; color:#eee; height:20px; margin-top:10px; cursor:pointer; }

      .iplug { margin-right: auto; margin-left: auto; margin-xright: auto; display: block; outline:0; }
      div.iplug { text-align: center; }
      /* the canvas *must not* have any border or padding, or mouse coords will be wrong */
      canvas.iplug { border: 0px none; background-color: black; display: block; box-shadow: 10px 10px 5px grey; }

      #status {
        display: inline-block;
        vertical-align: top;
        margin-top: 50px;
        margin-left: 20px;
        font-weight: bold;
        color: rgb(120, 120, 120);
      }
    </style>

    <script src="scripts/audioworklet.js"></script>
    <script src="scripts/wam-controller.js"></script>
    <script src="scripts/IPlugWAM-awn.js"></script>
  </head>
  <body>
    <div id="content">
<!--
      <h4>IPlugWAM_WAM Web Audio Module</h4>
 -->
<!--
      <button type="button" onclick="main()">Start web audio!</button>
 -->
    </div>
    <div class="iplug" id="status">Downloading...</div>
    <div class="control">
      <label>midi in</label>
      <select id="midiInSelect"></select>
    </div>
    <div class="iplug">
      <progress value="0" max="100" id="progress" hidden=1></progress>
    </div>
<!--     <div class="iplug_border"> -->
      <canvas class="iplug" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
<!--     </div> -->
    <script type='text/javascript'>
        var actx, IPlugWAM_WAM;

        function initMidi () {
          let combo = document.querySelector("#midiInSelect");
          navigator.requestMIDIAccess().then((midiIF) => {
            for (let input of midiIF.inputs.values()) {
              let option = new Option(input.name);
              option.port = input;
              combo.appendChild(option);
            }
            combo.onchange = e => {
              IPlugWAM_WAM.midiIn = e.target.options[e.target.selectedIndex].port;
            }
            if (combo.options.length > 0)
              combo.onchange({ target:combo });
          })
        }

        function onLoad() {
          if (AWPF.isAudioWorkletPolyfilled)
            actx = AWPF.context;
          else actx = new AudioContext();

          IPlugWAMController.importScripts(actx).then(() => {
            IPlugWAM_WAM = new IPlugWAMController(actx);
            IPlugWAM_WAM.connect(actx.destination);

            if(IPlugWAM_WAM != undefined) {
              //initGUI();
              let canvas = document.getElementById('canvas');
              initMidi();
            }
          });
        }

      var statusElement = document.getElementById('status');
      var progressElement = document.getElementById('progress');

      var Module = {
        preRun: [onLoad],
        postRun: [],
        print: (function() {
          var element = document.getElementById('output');
          if (element) element.value = ''; // clear browser cache
          return function(text) {
            if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
            // These replacements are necessary if you render to raw HTML
            //text = text.replace(/&/g, "&amp;");
            //text = text.replace(/</g, "&lt;");
            //text = text.replace(/>/g, "&gt;");
            //text = text.replace('\n', '<br>', 'g');
            console.log(text);
            if (element) {
              element.value += text + "\n";
              element.scrollTop = element.scrollHeight; // focus on bottom
            }
          };
        })(),
        printErr: function(text) {
          if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
          if (0) { // XXX disabled for safety typeof dump == 'function') {
            dump(text + '\n'); // fast, straight to the real console
          } else {
            console.error(text);
          }
        },
        // canvas: (function() {
//           var canvas = document.getElementById('canvas');
//
//           // As a default initial behavior, pop up an alert when webgl context is lost. To make your
//           // application robust, you may want to override this behavior before shipping!
//           // See http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15.2
//           canvas.addEventListener("webglcontextlost", function(e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);
//
//           return canvas;
//         })(),
        setStatus: function(text) {
          if (!Module.setStatus.last) Module.setStatus.last = { time: Date.now(), text: '' };
          if (text === Module.setStatus.text) return;
          var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
          var now = Date.now();
          if (m && now - Date.now() < 30) return; // if this is a progress update, skip it if too soon
          if (m) {
            text = m[1];
            progressElement.value = parseInt(m[2])*100;
            progressElement.max = parseInt(m[4])*100;
            progressElement.hidden = false;
          } else {
            progressElement.value = null;
            progressElement.max = null;
            progressElement.hidden = true;
          }
          statusElement.innerHTML = text;
        },
        totalDependencies: 0,
        monitorRunDependencies: function(left) {
          this.totalDependencies = Math.max(this.totalDependencies, left);
          Module.setStatus(left ? 'Preparing... (' + (this.totalDependencies-left) + '/' + this.totalDependencies + ')' : 'All downloads complete.');
        }
      };
      Module.setStatus('Downloading...');
      window.onerror = function(event) {
        // TODO: do not warn on ok events like simulating an infinite loop or exitStatus
        Module.setStatus('Exception thrown, see JavaScript console');
        Module.setStatus = function(text) {
          if (text) Module.printErr('[post-exception status] ' + text);
        };
      };
    </script>
    <script src="scripts/IPlugWAM.js"></script>
  </body>
</html>