<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>IPlugWEB Remote Editor</title>
    <style>
      body {
        font-family: arial;
        margin: 0;
        padding: none;
        background: white;
        background-size: cover;
      }

      .control { margin:0 10px; }
      label  { color:#bbb; font-size:12px; }
      select { background:#222; color:#eee; height:20px; margin-top:10px; cursor:pointer; }

      .iplug { margin-right: auto; margin-left: auto; margin-xright: auto; display: block; outline:0; }
      div.iplug { text-align: center; }
      /* the canvas *must not* have any border or padding, or mouse coords will be wrong */
      canvas.iplug { border: 0px none; background-color: black; display: block; box-shadow: 10px 10px 5px grey; }

      #status {
        display: inline-block;
        vertical-align: top;
        margin-top: 50px;
        margin-left: 20px;
        font-weight: bold;
        color: black;
      }
    </style>
<!--
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
 -->
    <script async src="fonts.js"></script>
    <script async src="svgs.js"></script>
    <script async src="imgs.js"></script>
    <script async src="imgs@2x.js"></script>
    <script async src="scripts/NAME_PLACEHOLDER-web.js"></script>
  </head>
  <body>
    <div id="content">
<!--
      <h4>IPlugWEB Web Audio Module</h4>
 -->
    </div>
    <div class="iplug" id="status">Downloading...</div>
    <div class="iplug">
      <progress value="0" max="100" id="progress" hidden=1></progress>
    </div>
    <div id="wam">
      <canvas class="iplug" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
    </div>
    <script type='text/javascript'>

      var statusElement = document.getElementById('status');
      var progressElement = document.getElementById('progress');

      var Module = {
        preRun: [],
        postRun: [],
        onRuntimeInitialized: function main() {
          ws = new WebSocket('ws://' + window.location.host + '/ws');
          ws.binaryType = 'arraybuffer';

          ws.onclose = function() {
          };

          ws.onmessage = function (e) {
            var msg = e.data;

            if(e.data.byteLength)
            {
                var buf = new Uint8Array(msg).buffer;
                var dv = new DataView(buf);
                var pos = 0;
                var strlen = dv.getInt32(pos, true); pos += 4;
                var prefix = new TextDecoder("utf-8").decode(new Uint8Array(buf, pos, strlen)); pos += strlen;

                if(prefix == "SPVFD")
                {
                  var paramIdx = dv.getInt32(pos, true); pos += 4;
                  var value = dv.getFloat64(pos, true); pos += 8;
                  Module.SPVFD(paramIdx, value);
                }
                else if(prefix == "SCVDD")
                {
                  var controlTag = dv.getInt32(pos, true); pos += 4;
                  var value = dv.getFloat64(pos, true); pos += 8;
                  Module.SCVFD(controlTag, value);
                }
                else if(prefix == "SCMFD")
                {
                  var controlTag = dv.getInt32(pos, true); pos += 4;
                  var msgTag = dv.getInt32(pos, true); pos += 4;
                  var dataSize = dv.getInt32(pos, true); pos += 4;
                  var data = new Uint8Array(buf, pos, dataSize);

                  const esbuf = Module._malloc(data.length);
                  Module.HEAPU8.set(data, esbuf);
                  Module.SCMFD(controlTag, msgTag, data.length, esbuf);
                  Module._free(esbuf);
                }
                else if(prefix == "SAMFD")
                {
                  var msgTag = dv.getInt32(pos, true); pos += 4;
                  var dataSize = dv.getInt32(pos, true); pos += 4;
                  var data = new Uint8Array(buf, pos, dataSize);

                  const esbuf = Module._malloc(data.length);
                  Module.HEAPU8.set(data, esbuf);
                  Module.SAMFD(controlTag, msgTag, data.length, esbuf);
                  Module._free(esbuf);
                }
                else if(prefix == "SMMFD")
                {
                  var status = dv.getUint8(pos, true); pos ++;
                  var data1 = dv.getUint8(pos, true); pos ++;
                  var data2 = dv.getUint8(pos, true); pos ++;
                  Module.SMMFD(status, data1, data2);
                }
                else if(prefix == "SSMFD")
                {
                  var msgTag = dv.getInt32(pos, true); pos += 4;
                  var dataSize = dv.getInt32(pos, true); pos += 4;
                  var data = new Uint8Array(buf, pos, dataSize);

                  const esbuf = Module._malloc(data.length);
                  Module.HEAPU8.set(data, esbuf);
                  Module.SSMFD(controlTag, msgTag, data.length, esbuf);
                  Module._free(esbuf);
                }
            }
          }

          ws.onerror = function (error) {
              alert('WebSocket error');
              //ws.close();
          }
        },
        setStatus: function(text) {
          if (!Module.setStatus.last) Module.setStatus.last = { time: Date.now(), text: '' };
          if (text === Module.setStatus.text) return;
          var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
          var now = Date.now();
          if (m && now - Date.now() < 30) return; // if this is a progress update, skip it if too soon
          if (m) {
            text = m[1];
            progressElement.value = parseInt(m[2])*100;
            progressElement.max = parseInt(m[4])*100;
            progressElement.hidden = false;
          } else {
            progressElement.value = null;
            progressElement.max = null;
            progressElement.hidden = true;
          }
          statusElement.innerHTML = text;
        },
        canvas: (function() {
          var canvas = document.getElementById('canvas');

          // As a default initial behavior, pop up an alert when webgl context is lost. To make your
          // application robust, you may want to override this behavior before shipping!
          // See http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15.2
          canvas.addEventListener("webglcontextlost", function(e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);

          return canvas;
        })(),
        totalDependencies: 0,
        monitorRunDependencies: function(left) {
          this.totalDependencies = Math.max(this.totalDependencies, left);
          Module.setStatus(left ? 'Preparing... (' + (this.totalDependencies-left) + '/' + this.totalDependencies + ')' : 'All downloads complete.');
        }
      };
      Module.setStatus('Downloading...');
      window.onerror = function(event) {
        // TODO: do not warn on ok events like simulating an infinite loop or exitStatus
        Module.setStatus('Exception thrown, see JavaScript console');
        Module.setStatus = function(text) {
          if (text) Module.printErr('[post-exception status] ' + text);
        };
      };

    </script>
  </body>
</html>
