<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>IPlugWAM WAM</title>
    <style>
      body {
        font-family: arial;
        margin: 0;
        padding: none;
        background: white;
/*         background: white url("page_background.jpg") no-repeat fixed center; */
        background-size: cover;
      }

      .control { margin:0 10px; }
      label  { color:#bbb; font-size:12px; }
      select { background:#222; color:#eee; height:20px; margin-top:10px; cursor:pointer; }

      .iplug { margin-right: auto; margin-left: auto; margin-xright: auto; display: block; outline:0; }
      div.iplug { text-align: center; }
      /* the canvas *must not* have any border or padding, or mouse coords will be wrong */
      canvas.iplug { border: 0px none; background-color: black; display: block; box-shadow: 10px 10px 5px grey; }

      #status {
        display: inline-block;
        vertical-align: top;
        margin-top: 50px;
        margin-left: 20px;
        font-weight: bold;
        color: black;
      }
    </style>
<!--
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
 -->
    <script src="scripts/audioworklet.js"></script>
    <script async src="resources.js"></script>
    <script async src="scripts/IPlugWAM.js"></script>
  </head>
  <body>
    <div id="content">
<!--
      <h4>IPlugWAM_WAM Web Audio Module</h4>
 -->
      <button type="button" onclick="main()">Start web audio!</button>
    </div>
    <div class="iplug" id="status">Downloading...</div>
    <div class="iplug">
      <progress value="0" max="100" id="progress" hidden=1></progress>
    </div>
    <div id="wam" hidden=1>
      <div class="control">
        <label>MIDI in</label>
        <select id="midiInSelect"></select>
      </div>
      <canvas class="iplug" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
    </div>
    <script type='text/javascript'>
      var IPlugWAM_WAM;

      function initMidi () {
        let combo = document.querySelector("#midiInSelect");
        navigator.requestMIDIAccess().then((midiIF) => {
          for (let input of midiIF.inputs.values()) {
            let option = new Option(input.name);
            option.port = input;
            combo.appendChild(option);
          }
          combo.onchange = e => {
            IPlugWAM_WAM.midiIn = e.target.options[e.target.selectedIndex].port;
          }
          if (combo.options.length > 0)
            combo.onchange({ target:combo });
        })
      }

      function audioWorkletSupported(supported)
      {
        if(supported)
          console.log("AudioWorklet Supported");
        else {
          console.log("AudioWorklet NOT Supported");
          //document.getElementById("unsupported").style.display = "block";
        }
      }

      function main() {
        var actx = new AudioContext();
        AWPF.polyfill(actx).then( function () {
          var script1 = document.createElement("script");
          script1.src = "scripts/wam-controller.js";
          script1.onload = () => {
            var script2 = document.createElement("script");
            script2.src = "scripts/IPlugWAM-awn.js";
            script2.onload = () => {

              audioWorkletSupported(!AWPF.isAudioWorkletPolyfilled);
              IPlugWAMController.importScripts(actx).then(() => {
                IPlugWAM_WAM = new IPlugWAMController(actx);
                IPlugWAM_WAM.connect(actx.destination);

                if(IPlugWAM_WAM != undefined) {
                  document.getElementById('wam').hidden = false;
                  initMidi();
                }
              });
            }
            document.head.appendChild(script2);
          }
          document.head.appendChild(script1);
        });
      }

      var statusElement = document.getElementById('status');
      var progressElement = document.getElementById('progress');

      var Module = {
        preRun: [],
        postRun: [],
        setStatus: function(text) {
          if (!Module.setStatus.last) Module.setStatus.last = { time: Date.now(), text: '' };
          if (text === Module.setStatus.text) return;
          var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
          var now = Date.now();
          if (m && now - Date.now() < 30) return; // if this is a progress update, skip it if too soon
          if (m) {
            text = m[1];
            progressElement.value = parseInt(m[2])*100;
            progressElement.max = parseInt(m[4])*100;
            progressElement.hidden = false;
          } else {
            progressElement.value = null;
            progressElement.max = null;
            progressElement.hidden = true;
          }
          statusElement.innerHTML = text;
        },
        canvas: (function() {
          var canvas = document.getElementById('canvas');

          // As a default initial behavior, pop up an alert when webgl context is lost. To make your
          // application robust, you may want to override this behavior before shipping!
          // See http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15.2
          canvas.addEventListener("webglcontextlost", function(e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);

          return canvas;
        })(),
        totalDependencies: 0,
        monitorRunDependencies: function(left) {
          this.totalDependencies = Math.max(this.totalDependencies, left);
          Module.setStatus(left ? 'Preparing... (' + (this.totalDependencies-left) + '/' + this.totalDependencies + ')' : 'All downloads complete.');
        }
      };
      Module.setStatus('Downloading...');
      window.onerror = function(event) {
        // TODO: do not warn on ok events like simulating an infinite loop or exitStatus
        Module.setStatus('Exception thrown, see JavaScript console');
        Module.setStatus = function(text) {
          if (text) Module.printErr('[post-exception status] ' + text);
        };
      };
    </script>
  </body>
</html>
