<html>
  <head>
    <script src="scripts/audioworklet.js"></script>
    <script src="scripts/wam-controller.js"></script>
    <script src="scripts/IPlugWAM-awn.js"></script>

    <script>
    var actx, IPlugWAM;

    function onload() {
      var canvas = document.getElementById('canvas');
      var ctx = canvas.getContext('2d');

      ctx.fillStyle = 'green';
      ctx.fillRect(10, 10, 100, 100);
    };

    function main () {
      if (AWPF.isAudioWorkletPolyfilled)
        actx = AWPF.context;
      else actx = new AudioContext();

      IPlugWAMController.importScripts(actx).then(() => {
        IPlugWAM = new IPlugWAMController(actx);
        IPlugWAM.connect(actx.destination);

        if(IPlugWAM != undefined) {
         createGenericGUI(IPlugWAM);
//          initMidi();
        }
      });
    }

    function createGenericGUI(wam) {
      if(wam.descriptor.parameters != undefined) {
        wam.descriptor.parameters.forEach( function (p) {
          var label  = document.createElement("p");
          var slider = document.createElement("input");
          label.className = "labelx";
          label.textContent = p.name;
          slider.type  = "range";
          slider.min   = p.min; slider.max = p.max; slider.value = p.def;
          slider.wamID = p.id;
          var div = document.createElement("div");
          div.appendChild(label);
          div.appendChild(slider);
          document.querySelector("#gui").appendChild(div);

          slider.oninput = function (e) {
            var slider = e.target;
            wam.setParam(slider.wamID, slider.value|0);
          }
        });
      }
    }
    </script>
  </head>
  <body onload="onload()">
    <div id="content">
      <h4>IPlugWAM</h4>
    <button type="button" onclick="main()">Start web audio!</button>
    </div>
    <canvas id="canvas"></canvas>
    <div id="unsupported">
<!--
    <p>AudioWorklet is unsupported in this browser version, using experimental AudioWorklet polyfill as fallback
    <br/>more info <a href="https://github.com/jariseon/audioworklet-polyfill" target="_blank">here</a></p>
    </div>
 -->
  </body>
</html>