#include "../../common.xcconfig"

//------------------------------
// Global settings

// the basename of the vst, vst3, app, component, aaxplugin
BINARY_NAME = IPlugEffectCairo

PKG_MAN_PATH = /usr/local/

ADDITIONAL_INCLUDES = $(IGRAPHICS_PATH) $(PKG_MAN_PATH)/include $(LICE_PATH)
ADDITIONAL_LIBRARY_PATHS = $(PKG_MAN_PATH)/lib

OTHER_LDFLAGS = $(PKG_MAN_PATH)/lib/libcairo.a $(PKG_MAN_PATH)/lib/libfreetype.a $(PKG_MAN_PATH)/lib/libpixman-1.a $(PKG_MAN_PATH)/lib/libpng.a $(PKG_MAN_PATH)/lib/libfontconfig.a /usr/local/opt/zlib/lib/libz.a /usr/local/opt/bzip2/lib/libbz2.a /usr/local/opt/expat/lib/libexpat.a
// for jack headers
//ADDITIONAL_APP_INCLUDES = /usr/local/include

// Flags to pass to compiler for all builds
GCC_CFLAGS = -Wno-write-strings -mfpmath=sse -msse -msse2 -msse3 -mavx

//------------------------------
// Preprocessor definitions

//EXTRA_DEBUG_DEFS =
//EXTRA_RELEASE_DEFS =
//EXTRA_TRACER_DEFS =

EXTRA_ALL_DEFS = COCOA_PREFIX=vIPlugEffectCairo SWELL_APP_PREFIX=Swell_vIPlugEffectCairo IGRAPHICS_CAIRO GRAPHICS_SCALING

//------------------------------
// Release build options

//Enable/Disable Profiling code
PROFILE = NO //NO, YES - enable this if you want to use instruments to profile a plugin

// GCC optimization level -
// None: [-O0] Fast: [-O, -O1] Faster:[-O2] Fastest: [-O3] Fastest, smallest: Optimize for size. [-Os]
RELEASE_OPTIMIZE = 3 //0,1,2,3,s

//------------------------------
// Debug build options
DEBUG_OPTIMIZE = 0 //0,1,2,3,s

