#include "../../common.xcconfig"

//------------------------------
// Global settings

// the basename of the vst, vst3, app, component, aaxplugin
BINARY_NAME = IPlugEffectCairo

ADDITIONAL_INCLUDES = $(GRAPHICS_PATHS)
ADDITIONAL_LIBRARY_PATHS = $(GRAPHICS_LINK_PATHS)
OTHER_LDFLAGS = $(GRAPHICS_LIBS_PATHS)

// Flags to pass to compiler for all builds
GCC_CFLAGS = -Wno-write-strings -mfpmath=sse -msse -msse2 -msse3 -mavx

//------------------------------
// Preprocessor definitions

//EXTRA_DEBUG_DEFS =
//EXTRA_RELEASE_DEFS =
//EXTRA_TRACER_DEFS =

EXTRA_ALL_DEFS = OBJC_PREFIX=vIPlugEffectCairo SWELL_APP_PREFIX=Swell_vIPlugEffectCairo IGRAPHICS_CAIRO GRAPHICS_SCALING

//------------------------------
// Release build options

//Enable/Disable Profiling code
PROFILE = NO //NO, YES - enable this if you want to use instruments to profile a plugin

// GCC optimization level -
// None: [-O0] Fast: [-O, -O1] Faster:[-O2] Fastest: [-O3] Fastest, smallest: Optimize for size. [-Os]
RELEASE_OPTIMIZE = 3 //0,1,2,3,s

//------------------------------
// Debug build options
DEBUG_OPTIMIZE = 0 //0,1,2,3,s

