# Copyright 2020-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-named-parameter,
  -*-non-private-member-variables-in-classes,
  -*avoid-c-arrays,
  -android-cloexec-fopen,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-string-compare,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err33-c,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -llvm-header-guard,
  -misc-misplaced-const,
  -modernize-use-trailing-return-type,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
InheritParentConfig: true
